{% extends 'main.html' %}
{% load static %}

{% block content %}
<p>hello {{request.user}}</p>


{% if user.is_authenticated %}
    <a href="{% url 'create-post' %}">Create a Post</a>
{% endif %}

<div>
    {% for post in posts %}
        <h3><a href="{% url 'view-post' post.id %}">{{post.title}}</a></h3> <span>{{post.date_created}}</span>
        <p>{{post.intro}}</p>

        {% if request.user == post.user %}
            <a href="{% url 'edit-post' post.id %}"> update</a>
            <a href="{% url 'delete-post' post.id %}"> delete</a>
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}